/* CSS Document */
@font-face {
	font-family: 'UniversLT-CondensedBold';
	src: url('../fonts/26D93F_0_0.eot');
	src: url('../fonts/26D93F_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/26D93F_0_0.woff') format('woff'), url('../fonts/26D93F_0_0.ttf') format('truetype');
}
header, nav {
	display: block;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	color: #000;
	background-color: #f1f1f1;
	line-height: 1.5;
	margin: 0;
}
a {
	color: #2455c3;
	text-decoration: none;
}
h1, h2, h3 {
	clear: both;
	line-height: 1.2;
}
h1 {
	font-size: 30px;
	margin: 33px 0;
}
h2 {
	font-size: 24px;
	margin: 25px 0;
}
h3 {
	font-size: 20px;
	margin: 22px 0;
}
p {
	margin: 0 0 24px;
}
ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}
ul {
	list-style-type: disc;
}
nav ul {
	list-style: none;
	list-style-image: none;
}
li > ul {
	margin: 0;
}
form {
	margin: 0;
}

input {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}
input {
	line-height: normal;
}
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="search"] {
	-webkit-appearance: none;
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: 270px;
}
/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
input {
	border: 2px solid #f2f2f2;
	font-family: inherit;
	padding: 5px;
}
input {
	color: #141412;
}
input:focus {
	border: 2px solid #ccc;
	outline: 0;
}
input[type="submit"] {
	background: #43ace9;
	border: none;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	padding: 11px 24px 10px;
	text-decoration: none;
}
.hide {
	display: none;
}
.site-branding, .main-navigation {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1000px;
	width: 100%;
	position: relative;
}
.site-header {
	width: 100%;
	position: relative;
	z-index: 498 !important;
}
.header-background {
	display: block;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	height: 95px;
	background: url(images/wave.jpg) center top no-repeat;
	background-color: #ffbd00;
}
.site-branding {
	height: 95px;
}
.navbar {
	width: 100%;
	background-color: #231F20;
}
.navbar a {
	color: #fff;
}
.site-branding h1 {
	display: block;
	position: absolute;
	background-image: url(images/branding.svg);
	background-repeat: no-repeat;
	background-position: -275px 0px;
	width: 175px;
	height: 55px;
	margin: 0;
	padding: 0;
	bottom: 15px;
	right: 15px;
}
.site-branding h1 a {
	display: block;
	width: 175px;
	height: 55px;
}
.site-branding h2 {
	display: block;
	position: absolute;
	left: 20px;
	bottom: 18px;
	padding: 0;
	font-weight: normal;
	font-family: UniversLT-CondensedBold, sans-serif;
	font-size: 34px;
	letter-spacing: -0.04em;
	line-height: 1;
	max-width: 485px;
	margin: 0;
}
.site-branding h2 a {
	color: #231F20;
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 0;
	max-width: 485px;
}
.site-branding h2 .logotype-top {
	color: #231F20;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0;
}
.site-branding p {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 215px;
	background-image: url(images/branding.svg);
	background-repeat: no-repeat;
	background-position: 0px -30px;
	width: 250px;
	height: 20px;
	margin: 0;
	padding: 0;
}
.menu-more-toggle a {
	position: absolute;
	right: 5px;
	width: 50px;
	height: 45px;
}
.menu-more-toggle i {
	position: relative;
	top: 11px;
	left: 15px;
	font-size: 24px;
	color: #fff;
}
.main-navigation {
	min-height: 45px;
}
ul.nav-menu {
	margin: 0 0 0 -20px;
	padding: 0 40px 0 0;
}
.nav-menu li {
	float: left;
	position: relative;
}
.nav-menu li a {
	color: #fff;
	display: block;
	font-size: 15px;
	line-height: 1;
	padding: 15px 20px;
	text-decoration: none;
}
.nav-menu li:hover > a, .nav-menu li a:hover {
	background-color: #333;
	color: #fff;
}
.sub-menu li a {
	font-size: 14px;
	padding: 8px 20px;
}
.sub-menu li a:hover {
	background-color: #e5e5e5;
	color: #000;
}
.nav-menu .sub-menu {
	background-color: #f1f1f1;
	border: none;
	border-top: 0;
	display: none;
	padding: 12px 0;
	position: absolute;
	left: 0;
	z-index: 99999;
	box-shadow: 0 8px 6px -6px #666;
}
.nav-menu .sub-menu ul {
	top: 0;
}
ul.nav-menu ul a, .nav-menu ul ul a {
	color: #000;
	margin: 0;
	width: 230px;
}
ul.nav-menu ul a:hover, .nav-menu ul ul a:hover {
	color: #000;
	background-color: #f1f1f1;
	text-decoration: underline;
}
ul.nav-menu li:hover > ul, .nav-menu ul li:hover > ul {
	display: block;
}
.nav-menu .sub-menu .sub-menu {
	display: none;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
}
.menu-toggle, .menu-toggle-child {
	display: none;
}
.search-toggle a {
	position: absolute;
	right: 50px;
	width: 50px;
	height: 45px;
}
.search-toggle i {
	position: relative;
	top: 12px;
	left: 15px;
	font-size: 22px;
	color: #fff;
}
.site-header .search-form {
	position: absolute;
	z-index: 999999;
	top: 45px;
	right: 20px;
	background-color: #f1f1f1;
	box-shadow: 0 8px 6px -6px #666;
	width: 400px;
	height: auto;
	padding: 10px 20px;
}
.search-form-wrapper {
	display: none;
}
.site-header .search-field {
	position: relative;
	top: 10px;
	padding: 0px 10px;
	margin-bottom: 20px;
	outline: 0;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #fff;
	cursor: text;
	font-size: 14px;
	color: #000;
	height: 34px;
	width: 80%;
	border: 1px solid #e5e5e5;
}
.site-header .search-form #submit {
	position: relative;
	top: 8px;
	margin-left: 8px;
	padding: 10px;
	font-size: 14px;
}
.search-results {
	margin-top: 10px;
	font-size: 14px;
	padding: 0 5px;
	color: #777;
	line-height: 1.3em;
}
.navigation a {
	color: #333;
}
.navigation a:hover {
	color: #333;
	text-decoration: none;
}
.search-form .search-submit {
	display: none;
}
@media (max-width: 980px) {
.site-branding p {
	display: none;
}
.menu-more-toggle a {
	right: 0;
}
.site-header .search-form {
	right: 0;
}
}
 @media (min-width: 960px) {
.sub-menu li a {
	line-height: 1.2;
}
.nav-menu .megamenu {
	position: static;
}
.nav-menu .megamenu .sub-menu .sub-menu {
	display: block;
	box-shadow: none;
}
.megamenu .menu-depth-1 {
	position: absolute;
	top: auto;
	left: 0px;
	margin-left: 0px;
	width: 100%;
	min-height: 200px;
	padding: 30px;
	box-shadow: 0 8px 6px -6px #666;
}
.megamenu .menu-item-depth-1 {
	padding: 0 0 40px 0;
	float: none;
	display: inline-block;
	vertical-align: top;
	width: 24.5%;
}
.megamenu .menu-item-depth-1 > a {
	font-weight: bold;
	font-size: 15px;
}
.megamenu .menu-item-depth-2 {
	float: none;
	display: block;
}
ul.nav-menu .megamenu ul a:hover, .nav-menu .megamenu ul ul a:hover {
	color: #000;
	background-color: #f1f1f1;
	text-decoration: underline;
}
ul.nav-menu .megamenu ul a {
	width: auto;
	padding-bottom: 2px;
}
}
 @media (max-width: 959px) {
.main-navigation {
	padding: 0;
}
.main-navigation h3 {
	padding-left: 20px;
}
/* Small menu */
	
.menu-toggle {
	cursor: pointer;
	display: inline-block;
	font: bold 16px/1.3 Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 12px 0;
	color: #fff;
}


ul.nav-menu {
	display: none;
}
}
@media (max-width: 643px) {
.site-header {
	height: 105px;
}
.header-background {
	position: absolute;
	top: 45px;
	left: 0;
	height: 60px;
	background: url(images/wave-mobile.jpg) left top no-repeat;
	background-size: auto 100%;
}
.site-branding {
	position: absolute;
	top: 45px;
	left: 0;
	height: 60px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.site-branding h1 {
	right: auto;
	background-image: url(images/branding-mobile.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: contain;
	width: 45px;
	height: 30px;
	display: inline-block;
}
.site-branding h1 a {
	width: 45px;
	height: 30px;
}
.site-branding h2 {
	left: 80px;
	bottom: 15px;
	font-size: 16px;
	display: inline-block;
}
.site-branding h2 .logotype-top {
	font-size: 13px;
}
.site-branding h2, .site-branding h2 a {
	max-width: none;
}
.site-header .search-form {
	width: 100%;
	left: 0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 6px 0 #666;
}
}
@media print {
body {
	background: none !important;
	color: #000;
	font-size: 10pt;
}
.site-header {
	background-image: none !important;
}
}
.site-main {
	width: 100%;
	background-color: #FFF;
}
.content-area {
	padding-top: 50px;
	padding-bottom: 50px;
}


